@import "tailwindcss/preflight";
@tailwind utilities;

:root {
  --primary: #FFFD74;
  --secondary: #aec6cf;
  --third: #ffd1dc;
  --foreground: black;
  --background:white;
}

.bg-primary {
  background-color: var(--primary);
}

.bg-secondary {
  background-color: var(--secondary);
}

.bg-third {
  background-color: var(--third);
}

.text-primary {
  color: var(--primary);
}

.text-secondary {
  color: var(--secondary);
}

.text-third {
  color: var(--third);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}